

.navbar{
    background-color: black !important;
    color: white !important;
    
}

.nav-item a{
    color: white !important;
    font-weight: bolder;
}

.navbar-brand{
    padding-left: 6vw;
}

.second{
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 2%;
}

@media (max-width: ) {
    
}

.heading{
    margin: 4%;
    background-color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}

.footer{
    background-color: rgba(49, 46, 46, 0.993) !important;
    color: white !important;
    font-family: sans-serif;
    margin-top: 20px;
}

button{
    
}


.list-unstyled li a{
    font-size: larger;
    color: white !important;
    text-decoration: none !important;
}


h3{
    font-weight: bolder;
}

.third{
    display: flex;
    margin: 20px;   
}

section p{
    opacity: 0.5;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

section h5{
    opacity: 0.8;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

section li{
    opacity: 0.8;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

@media (max-width: 950px) {

    *{
        font-size: 100%;
    }
    .second {
      display: block;
      
    }
    .second img{
        margin: 10px;
        
      }
    
    .card{

        height: 300px;
        width: 300px;

    }
    .card img{

        height: 300px;
        width: 300px;

    }
  }
